<h1> Boas vindas ao Diário de Estudo </h1>

<%= link_to 'Criar um item de estudo', new_study_item_path%>

<h3>Itens cadastrados</h3>

<% @study_items.each do |study_item| %>
  <%= link_to study_item.name, study_item %><br>    
<% end %>
